{% extends 'baseDashboard.html' %}
{% block content %}
<style>
    .hide-name {
        position: relative;
        visibility: hidden;
    }

    .hide-name::after {
        color: white;
        font-family: Arial;
        font-size: 30px;
        font-weight: bold;
        content: "Inventario";
        position: absolute;
        visibility: visible;
        left: 10%;
        top: -5px;
    }

    .hide-inv {
        position: relative;
        visibility: visible;
    }

    .hide-arrow {
        position: relative;
        visibility: visible;
        left: 15px;
        top: -5px;
    }
</style>

<div class="page-header">
    <p class="page-name-module">Productos</p>

    <form id="form-busqueda" class="pages-form">
        <div class="search-group input-group">
            <input type="text" class="page-search" id="valor_busqueda" name="valor_busqueda" placeholder="Buscar"
                autocomplete="off">
            <button type="button" id="buscar" class="page-search-btn"><i class="fas fa fa-search"></i></button>
        </div>
        <div class="select-group">
            <select class="page-select" id="campo_busqueda" name="campo_busqueda">
                <option value="nada" selected>Filtros</option>
                <option class="opt" value="nombre_producto">Nombre</option>
                <option class="opt" value="nombre_categoria">Categoria</option>
                <option class="opt" value="nombre_marca">Marca</option>
            </select>
        </div>
    </form>

    <a href="{{ url_for('newProducts') }}" class="btn btn-success page-create-btn">Crear</a>

    <form action="/crear_producto_desde_excel" method="post" enctype="multipart/form-data">
        <input type="file" name="archivo_excel" accept=".xlsx">
        <input class="btn btn-success page-create-btn" type="submit" value="Subir archivo Excel">
    </form>
    
</div>

<div class="products-box" id="resultado-busqueda">
    <div class="product-main-container">
        {% for producto in productos %}
        <a class="product-container" href="{{ url_for('editProducts', ID_PRODUCTO=producto[0]) }}">
            <div class="product-img-container"><img src="{{ url_for('static', filename=producto[7]) }}" alt="imagen"
                    class="product-img"></div>
            <div class="product-info-container">
                <p class="product-name">{{ producto[1] }}</p>
                <p class="product-price">Precio: Q.{{ producto[5] }}</p>
                <p class="product-stock">En existencia: {{ producto[6] }}</p>
            </div>
            <form action="{{ url_for('eliminar_producto', ID_PRODUCTO=producto[0]) }}" method="POST"
                onsubmit="return confirm('¿Estás seguro de que desea eliminar este registro?');">
                <button type="submit" class="btn btn-danger btn-sm hide-delete">
                    <img src="{{ url_for('static', filename='img/delete_card.png') }}" alt="Eliminar" width="25"
                        height="25">
                </button>
            </form>
        </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ pagination.info }}
        {{ pagination.links }}
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#buscar").click(function () {
            var formData = $("#form-busqueda").serialize();
            $.ajax({
                type: "POST",
                url: "{{ url_for('buscar_productos') }}",
                data: formData,
                success: function (response) {
                    $("#resultado-busqueda").html(response);
                }
            });
        });
    });
</script>

{% endblock %}